.bui-library .menu-btn {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 10;
}

.bui-library .container {
    padding-bottom: 2em;
}

.bui-library .demo-site-menu.fly-out-menu .navigation ul li {
    list-style: none;
    display: block;
    margin-bottom: 0.8em;
}

.bui-library .library-header {
    background-color: #efefef;
    border-bottom: 1px solid #dddddd;
}

.bui-library .library-header .header-container {
    max-width: 570px;
    margin: 0 auto;
    padding: 2em 0;
}

.bui-library .library-header .bui-logo {
    width: 100px;
    height: 165px;
    margin: 0 auto;
}

.bui-library .library-header .header-title {
    text-align: center;
    width: 100%;
}

.bui-library .library-header .header-title h1 {
    font-weight: bold;
    font-size: 9em;
    margin-bottom: 0;
    margin-top: -0.05em;
}

.bui-library .library-header .header-title h2 {
    margin: 0;
    font-size: 1.3em;
    font-weight: 400;
    white-space: nowrap;
}

.bui-library .library-header .header-title p {
    text-align: left;
    padding: 0;
    width: 90%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .bui-library .library-header .header-container {
        padding: 7em 0;
    }

    .bui-library .library-header .bui-logo {
        width: 200px;
        height: 330px;
        margin-right: 20px;
    }

    .bui-library .library-header .header-title {
        width: 350px;
        text-align: left;
    }

    .bui-library .library-header .header-title h1 {
        font-size: 15em;
    }

    .bui-library .library-header .header-title h2 {
        margin: 0 0 0 0.4em;
        font-size: 2.15em;
    }

    .bui-library .library-header .header-title p {
        text-align: left;
        padding: 0 1.1em;
        width: 100%;
        max-width: 100%;
    }
}

.bui-library section {
    margin-top: 3em;
    border-left: 2px solid #efefef;
    padding: 0 1em 1em;
}

.bui-library section h1 a,
.bui-library section h2 a,
.bui-library section h3 a {
    color: #333333;
}

.bui-library section h1 a:hover,
.bui-library section h2 a:hover,
.bui-library section h3 a:hover,
.bui-library section h1 a:focus,
.bui-library section h2 a:focus,
.bui-library section h3 a:focus,
.bui-library section h1 a:active,
.bui-library section h2 a:active,
.bui-library section h3 a:active {
    color: #333333;
    text-decoration: none;
    cursor: normal;
}

.bui-library section h2 {
    margin-top: 1em;
}

.bui-library section h3,
.bui-library section h4 {
    margin-top: 2em;
}

@media (min-width: 768px) {
    .bui-library .container {
        width: 730px;
    }
}

@media (min-width: 800px) {
    .bui-library html {
        font-size: 100%;
    }

    .bui-library html .container {
        max-width: 65em;
    }

    .bui-library html header h1 {
        font-size: 2.3em;
        margin-left: .8em;
        margin-bottom: .8em;
    }
}

@media (min-width: 992px) {
    .bui-library .container {
        width: 950px;
    }
}

@media (min-width: 1200px) {
    .bui-library .container {
        width: 1150px;
    }
}

.bui-library .bui-lib-example {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
}

.bui-library .bui-lib-example:before {
    content: "Example";
    position: absolute;
    font-size: 0.8rem;
    top: 0;
    left: 0;
    padding: 0.25em 0.5em;
    background-color: #dddddd;
    color: #ffffff;
    border-radius: 2px 0 4px 0;
}

.bui-library .bui-lib-example.dark-bg {
    background-color: #808080;
}

.bui-library .bui-lib-example-comment {
    background-color: #f7f7f7;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 0 0 4px 4px;
    padding: 0.5em 1em;
    margin-top: -5px;
    position: relative;
    z-index: 5;
    word-wrap: break-word;
}

.bui-library code {
    color: #333333;
    white-space: pre-wrap;
}

.bui-library code span {
    color: #cc6d00;
    font-style: default;
}

.bui-library .example-framework-col {
    background-color: #f1f1f1;
    border: 1px solid #dddddd;
    text-align: center;
}

.bui-library .color-swatches .row .col-sm-12 {
    margin-bottom: 2em;
}

.bui-library .color-swatch {
    float: left;
    width: 5rem;
    height: 5rem;
    line-height: 2.25em;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    margin-left: 1rem;
}

.bui-library .color-info {
    margin-left: 7rem;
    margin-top: -1.3em;
}

.bui-library .color-info h4 {
    margin-top: 1em;
    margin-bottom: 0;
}

.bui-library .color-info p {
    margin-top: 1em;
    margin-bottom: -1em;
}

.bui-library .color-info em {
    display: block;
    margin-bottom: -1em;
}

.bui-library .color-swatch.color-bg {
    background: #ffffff;
    color: #333333;
    border: 1px solid #dddddd;
}

.bui-library .color-swatch.color-t {
    background: #333333;
}

.bui-library .color-swatch.color-7 {
    background: #777777;
}

.bui-library .color-swatch.color-b {
    background: #bbbbbb;
}

.bui-library .color-swatch.color-d {
    background: #dddddd;
}

.bui-library .color-swatch.color-bc {
    background: #bcbcbc;
}

.bui-library .color-swatch.color-ct {
    background: #f5f5f5;
    color: #333333;
    border: 1px solid #dddddd;
}

.bui-library .color-swatch.color-bl {
    background: #0086ab;
}

.bui-library .color-swatch.color-bh {
    background: #009ac4;
}

.bui-library .color-swatch.color-o {
    background: #ff8800;
}

.bui-library .color-swatch.color-g {
    background: #76bd23;
}

.bui-library .color-swatch.color-gh {
    background: #83d327;
}

.bui-library .color-swatch.color-h {
    background: #fff200;
    color: #333333;
}

.bui-library .color-swatch.color-c {
    background: #9e0b0f;
}

.bui-library .color-swatch.color-tg {
    background: #b8e3f4;
    color: #333333;
}

.bui-library .color-swatch.color-gt {
    background: #76c9ea;
    color: #333333;
}

.bui-library .color-swatch.color-bt {
    background: #e7e7e7;
    color: #333333;
}

.bui-library .color-swatch.color-w {
    background: #f0c000;
}

@media (min-width: 800px) {
    .bui-library .color-container {
        float: left;
        width: 49%;
        margin-right: 1%;
    }

    .bui-library .color-container:last-child {
        margin-right: 0;
    }

    .bui-library .color-info h4 {
        margin-bottom: 0;
    }

    .bui-library .color-info p {
        margin-bottom: -1em;
    }
}

.bui-library.bui-icons .iconsContainer i {
    font-family: 'beacon-icons';
    font-style: normal;
    display: inline-block;
    width: 1.2em;
    text-align: center;
}

.bui-library .bui-lib-example-block {
    background-color: #ffdbb3;
    max-width: 400px;
    margin: 1em;
    padding: 1em;
}

.bui-library .bui-lib-example .btn-icon.demo-hover {
    color: #db7500;
}

.bui-library code {
    background-color: #ffffff;
    padding: .1em .4em;
    line-height: 1.5em;
    border: 1px solid #dddddd;
}

.bui-library .bui-lib-example h1,
.bui-library .bui-lib-example h2,
.bui-library .bui-lib-example h3,
.bui-library .bui-lib-example h4 {
    margin-top: 0;
}

.bui-library p {
    margin: 1em 0;
}

.bui-library .inline {
    margin: 1em 0;
}
