@{button-prefix} {
	button {
		outline: none;
		border: 0;
		&:active {
			outline: 0;
		}
	}

	.btn {
		&:active, &.active {
			-webkit-box-shadow: 0 0 0 0;
			box-shadow: 0 0 0 0;
		}
	}

	.btn-default {
		background-color: @color-button;
		border: 1px solid darken(@color-button, 11);
		padding: 5px 10px;
		border-radius: 4px;
		&:hover, &:focus{
			background-color: lighten(@color-button, 3);
			.transition;
		}
		&:active, &.active {
			background-color: darken(@color-button, 3);
		}
		& span {
			margin-left: -.4em;
			margin-right: -.2em;
		}
	}

	.btn-primary {
		background-color: @color-blue;
		#gradient > .vertical(lighten(@color-blue, 2); darken(@color-blue, 2));
		border: 1px solid darken(@color-blue, 2);
		color: #fff;
		&:hover, &:focus{
			#gradient > .vertical(lighten(@color-blue, 5); lighten(@color-blue, 5));
			.transition;
		}
		&:active, &.active {
			#gradient > .vertical(lighten(@color-blue, 2); lighten(@color-blue, 3));
		}
		& span {
			margin-left: -.4em;
			margin-right: -.2em;
		}
	}

	.btn-text {
		background-color: transparent;
		color: @color-blue;
		text-decoration: none;
		cursor: pointer;
		&:hover, &:focus {
			color: lighten(@color-blue, 5%);
			.transition;
		}
		&:active, &.active {
			color: darken(@color-blue, 2%);
		}
		span {
			margin-right: -.2em;
		}
	}

	.btn-special {
		background-color: @color-green;
		#gradient > .vertical(lighten(@color-green, 2); darken(@color-green, 2));
		border: 1px solid darken(@color-green, 1);
		color: #fff;
		&:hover, &:focus {
			#gradient > .vertical(lighten(@color-green, 5); lighten(@color-green, 5));
			.transition;
		}
		&:active, &.active {
			#gradient > .vertical(lighten(@color-green, 2), lighten(@color-green, 3));
		}
	}

	.btn-cancel {
		background-color: transparent;
		border: 0;
		color: @color-remove;
		padding: 5px 10px;
		&:hover, &:focus {
			cursor: pointer;
			background-color: transparent;
			color: @color-red;
			text-decoration: underline;
			.transition;
		}
		&:active, &.active {
			color: darken(@color-red, 5%);
			text-decoration: underline;
		}
	}

	.btn-remove {
		background-color: transparent;
		font-size: 1.5rem;	
		color: @color-remove;
		padding: 0;
		.transition;
		&:hover, &:focus {
			color: @color-red;
		}
		&:active, &.active {
			color: darken(@color-red, 10%);
		}
		&:before {
			font-family: "beacon-icons";
	    font-style: normal;
	    font-weight: normal;
	    speak: none;
	    display: inline-block;
	    text-decoration: inherit;
	    width: 1em;
	    margin-right: .2em;
	    text-align: center;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1em;
	    margin-left: .2em;
			content: '\e801';
		}
	}

	.btn-icon {
		background-color: transparent;
		font-size: 1rem;
		color: @color-orange;
		padding: 2px 2px;
		border-radius: 4px;
		&:hover, &:focus {
			color: white;
			background-color: @color-orange;
			.transition;
		}
		&:active {
			background-color: darken(@color-orange, 5%);
		}
		&.active {
			color: @color-remove;
			background-color: transparent;
			&:hover {
				color: @color-remove;
				background-color: transparent;
			}
		}
	}

	.btn-link {
	  color: @color-blue;
	  font-weight: normal;
	  cursor: pointer;
	  border-radius: 0;
	  &,
	  &:active,
	  &[disabled],
	  fieldset[disabled] & {
	    background-color: transparent;
	    .box-shadow(none);
	  }
	  &,
	  &:hover,
	  &:focus,
	  &:active {
	    border-color: transparent;
	  }
	  &:hover,
	  &:focus {
	    color: lighten(@color-blue, 10);
	    text-decoration: underline;
	    background-color: transparent;
	  }
	  &.disabled,
	  &[disabled],
	  fieldset[disabled] & {
	    &:hover,
	    &:focus {
	    	color: #000;
	      text-decoration: none;
	    }
	  }
	}

	.btn-xs {
		font-size: .8em;
		border-radius: 2px;
		padding: 2px 6px;
	}

	.btn-sm {
		font-size: .9em;
		border-radius: 2px;
		padding: 2px 6px;
	}

	.btn-lg {
		font-size: 1.4em;
		padding: 5px 12px;
	}
} // end @{button-prefix}