@{modal-prefix} {
	.modal {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		&.fade .modal-dialog {
	    .translate(0, -25%);
	    .transition-transform(~"0.3s ease-out");
	  }
	  &.in .modal-dialog {
	  	.translate(0, 0)
	  }
	  &.fade.modal-centered  .modal-dialog {
	    .translate(-50%, -75%);
	    .transition-transform(~"0.3s ease-out");
	  }
	  &.in.modal-centered .modal-dialog {
	  	.translate(-50, -50)
	  }
	}

	.modal-centered {
		overflow-y: hidden;
		.modal-dialog {
			position: relative;
			top: 50%;
			left: 50%;
			margin: 0;
		}
	}

	.modal-content {
	  background-color: @color-bg;
	  border: 0;
	  border-radius: 7px;
	}

	.modal-header {
	  padding: 1.2em 1.5em;
	  border-bottom: 1px solid @color-frame;
	}
	.modal-title {
	  font-weight: bold;
	  font-size: 1.2rem;
	  line-height: 1em;
	  margin: 0;
	  padding: 0;
	}
	.modal-header .close {
		color: @color-remove;
		margin-top: -0.1em;
		.opacity(1);
		&:before {
			font-family: "beacon-icons";
	    margin-right: 0.2rem;
			content: '\e802';
		}
		&:hover, &:focus {
			cursor: pointer;
			color: @color-red;
			text-decoration: none;
			.transition;
		}
		&:active, &.active {
			color: darken(@color-red, 5%);
		}
	  &.disabled,
	  &[disabled],
	  fieldset[disabled] & {
			color: @color-disabled;
			.opacity(1);
			&:hover, &:focus, &:active {
				text-decoration: none;
				color: @color-disabled;
			}
	  }
	}

	.modal-body {
	  padding: 0.2rem 1.5rem;
	}

	.modal-footer {
	  margin-top: 0;
	  padding: 0.5rem 1.5rem 1.2rem;
	  text-align: right;
	  border-top: 0;
	}
}