// Google font inport
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600);
@{typo-prefix} {

  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: @color-base;
  background-color: @color-bg; // sets <html> bg to bg color. There may be a better place for this.

  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Tahoma, sans-serif;
    line-height: 1;
    margin: 1.2rem 0;
    font-weight: bold;
    &.unbold {
      font-weight: 400;
    }
  }

  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
    color: lighten(@color-base, 20);
  }
  h6 {
    font-size: 1rem;
    color: lighten(@color-base, 40);
  }

  a {
    text-decoration: none;
    color: @color-blue;
    &:hover, :focus {
      color: lighten(@color-blue, 10%);
      text-decoration: underline;
    }
    &:active {
      color: darken(@color-blue, 5%);
      text-decoration: underline;
    }
    &.hover-state {
      color: lighten(@color-blue, 10%);
      text-decoration: underline;
      margin-left: 1em;
      &:active {
        color: darken(@color-blue, 5%);
        text-decoration: underline;
      }
    }
    &.disabled {
      margin-left: 1em;
      .opacity(20);
      &:hover, :active {
        color: @color-blue;
        text-decoration: none;
      }
    }
  }

  small {
    font-size: .8em;
  }

  .caps {
    text-transform: uppercase;
    font-weight: 400;
  }

  .label {
    background-color: @color-button;
    color: @color-base;
    padding: .2em .8em;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }

  .tag {
    background-color: @color-tag;
    padding: .2em .4em .2em .5em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    a {
      font-size: .9em;
      margin: 0 0 0 .3em;
      color: darken(@color-tag, 15);
      text-decoration: none;
      &:hover, &:focus {
        color: @color-red;
        cursor: pointer;
      }
      &:active {
        color: darken(@color-red, 10);
      }
    }
  }

  /***********************************************/
  /*
  /*	Lists
  /*
  /***********************************************/

  ul.unstyled {
    list-style: none;
    padding-left: 0;
  }

  ul.inline {
    padding: 0;
  }

  ul.inline > li {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
  }

  dl dt {
    font-weight: bold;
  }

  dl dd {
    margin-left: .5em;
  }
} // end @{typo-prefix}