// bui prefix
@body: ~'html';
@prefix-word: ~'.bui';
@prefix: ~'@{body}@{prefix-word}';

@grid-class: ~'.bui-grid';
@grid-prefix: ~'@{prefix-word}@{grid-class}';

@menu-class: ~'.bui-menu';
@menu-prefix: ~'@{prefix-word}@{menu-class}';

@typo-class: ~'.bui-typography';
@typo-prefix: ~'@{prefix-word}@{typo-class}';

@base-class: ~'.bui-base';
@base-prefix: ~'@{prefix-word}@{base-class}';

@icon-class: ~'.bui-icons';
@icon-prefix: ~'@{prefix-word}@{icon-class}';

@button-class: ~'.bui-buttons';
@button-prefix: ~'@{prefix-word}@{button-class}';

@input-class: ~'.bui-inputs';
@input-prefix: ~'@{prefix-word}@{input-class}';

@tooltips-class: ~'.bui-tooltips';
@tooltips-prefix: ~'@{prefix-word}@{tooltips-class}';

@modal-class: ~'.bui-modals';
@modal-prefix: ~'@{prefix-word}@{modal-class}';

@normal-class: ~'.bui-normalize';
@normal-prefix: ~'@{prefix-word}@{normal-class}';

// colors
@color-bg: #fff;
@color-base: #333;
@color-remove: #777;
@color-red: #9e0b0f;
@color-disabled: #bbb;
@color-frame: #ddd;
@color-blue: #0086ab;
@color-orange: #ff9117;
@color-green: #76bd23;
@color-highlight: #fff200;
@color-active: #fffbcc;
@color-tag: #c5e8f6;
@color-button: #e7e7e7;
@color-tooltips-bg: rgba(0, 0, 0, 0.795);

// grid
@bui-grid-columns: 24;

// bootstrap overrides
@grid-gutter-width: 1em;



.transition {
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
